.formContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
}
.formContainer>input,
.formContainer>select
{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}
/* .formContainer>select
{
    text-align: center;
} */
.formContainer>span>span{
    color:var(--themeRed);
    font-size: 1.3rem;
    font-weight: bold;
}
.formContainer>span
{
    margin-bottom: .5rem;
}
.btn
{
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2rem;
    outline: none;
    font-size: 16px;
    background-color: #15ac1f;
    color: #fff;
    cursor: pointer;
}
.toastMessage
{
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}

.confirmationBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}


.agree {
    display: none;
  }
  
  .toggle {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
  }
  
  .toggle:before,
  .toggle:after {
    content: "";
    position: absolute;
  }
  
  .toggle:before {
    left: 0;
    background-color: #dd1c1c; /* Background color when off */
    width: 100%;
    height: 100%;
    border-radius: 17px;
    transition: background-color 0.3s ease;
  }
  
  .toggle:after {
    left: 0;
    background-color: #e2e2e2; /* Background color when on */
    width: 50%;
    height: 100%;
    border-radius: 17px;
    transition: margin 0.3s ease;
  }
  
  .agree:checked + .toggle:before {
    background-color: #4CAF50;
  }
  
  .agree:checked + .toggle:after {
    margin-left: 50%;
  }
  