.sideNav
{
  list-style: none;
    padding: 0;
    color: black;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    font-weight: bold;
}
.container
{
  left: 0;
  color: rgba(240, 150, 150, 0.85);
}